@charset "ISO-8859-1";

body {
	margin: 0;
	font-family: Arial, sans-serif;
}

.container {
	margin: 50px 400px;
}

.box {
	border: 1px solid;
	border-radius: 20px;
}

.header {
	border-bottom: 1px solid;
	padding: 30px 200px 30px 260px;
}

.h2 {
	font-family: Arial, Helvetica, sans-serif;
}

.content {
	padding-top: 20px;
	padding-left: 20px;
	font-size: 30px;
}

.form-group {
	padding: 20px;
}

input[type=text], input[type=date], input[type=password], select {
	width: 48%;
	border: 1px solid;
	border-radius: 5px;
	margin-top: 10px;
	box-sizing: border-box;
	padding: 12px;
	display: inline-block;
	margin-right: 10px;
}

.form-group:after {
	content: "";
	display: table;
	clear: both;
}

#Password {
	width: 48%;
	border: 1px solid;
	border-radius: 5px;
	margin-top: 10px;
	box-sizing: border-box;
	padding: 12px;
	display: inline-block;
	margin-right: 10px;
}

button {
	width: 98%;
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	position: relative;
	top: 10px;
	bottom: 40px;
	margin: 15px 0px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.error-msg {
	color: red;
}

.success-msg {
	color: #449A44;
}